langchain
langchain-community
langchain-core

langchain-mistralai
langchain-google-genai
google-generativeai
mistralai
langchain-huggingface

transformers
sentence-transformers

chromadb

pypdf
tqdm


fastapi
uvicorn
python-multipart

